.multiselect-container {
    background-color: #f8f9fa; /* Cor de fundo */
    border: 1px solid #ced4da; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
  }
  
  .multiselect-item-checkbox {
    color: #cb0000; /* Cor do texto */
  }
  
  .multiselect-item:hover {
    background-color: #e9ecef; /* Cor de fundo ao passar o mouse */
  }